{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="for-footer">
    <div class="main-title">
        <h1><span class="in"><span>{% trans 'Личный кабинет' %}</span></span></h1>
    </div>
    <div class="section breadcrumbs">
        <div class="row">
            <div class="col3">
                <span class="breadcrumbs-item">
                    <a href="http://notv.urfu.ru/ru">{% trans 'Главная страница' %}</a>
                </span>
                <span class="divide">/</span>
                <span class="breadcrumbs-item">
                    <a href="" class="no-underline"><span>{% trans 'Личный кабинет' %}</span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="section content">
        <div class="row">
            <div class="col2 lea_alex">
                <header>
                    <h1 class="title">
                      <span class="title-super">{% trans 'Личный кабинет' %}</span>
                    </h1>
                  </header>
            {% if request.user.is_authenticated %}
                <p>{% trans "Добро пожаловать, " %}{{ request.user.first_name }} {{ request.user.last_name }}</p>
            {{ form.as_p }}
                <p>Вы можете изменить свои данные, перейдя по <a href="../account/update/"> ссылке</a>.
                <p>Вы можете изменить свой пароль, перейдя по <a href="../password/change/"> ссылке</a>.

                <p style="padding-top:1em;color:red;">Программа конференции и выбор индивидуальной траектории посещения мероприятий будут доступны 05.04.2016 г.</p>
                {# <p>{% trans 'Страница с событиями конференции доступна по <a href="../events/">ссылке.</a>' %} #}
            {% else %}
                <p>Вы не зарегистрированы. <br />
                    Пожалуйста, <a href="/notv/register">зарегистрируйтесь</a> или <a href="/notv/login">войдите в систему</a>.</p>
            {%endif%}

    </div>
    <div class="col">
        <aside role="complementary">
            <style>
            .smaller {
              font-size:80%;
            }
            .gray {
              color: #333;
            }

            .smaller-header {
              font-size: 20px;
            }
            .justify {
              text-align: justify;
              text-indent: 20px;
            }
            </style>
        <div class="smaller">
            <header>
                <h3 class="sr gray">{% trans 'Помощь в входе' %}</h3>
            </header>
            <div class="cta cta-welcome">
                <h3 class="gray smaller-header"></h3>
                <p class="justify">
                     {% trans 'Укажите свои данные, которые были использованные при регистрации. Если вы не можете вспомнить свой пароль, то для его востановления перейдите по данной <a href="/notv/user/password/reset/">ссылке.' %}</a>
                </p>
            </div>




</div>

  </aside>

    </div>
  </div>
</div> <!-- /for-footer -->
</div>
{% endblock %}
