{% extends "base.html" %}

{% block content %}

<div class="for-footer">
    <div class="main-title">
        <h1><span class="in"><span>Войти в личный кабинет</span></span></h1>
    </div>
    <div class="section breadcrumbs">
        <div class="row">
            <div class="col3">
                <span class="breadcrumbs-item">
                    <a href="http://notv.urfu.ru/ru">Главная страница</a>
                </span>
                <span class="divide">/</span>
                <span class="breadcrumbs-item">
                    <a href="" class="no-underline"><span>Войти в личный кабинет</span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="section content">
        <div class="row">
            <div class="col2 lea_alex">
                <header>
                    <h1 class="title">
                      <span class="title-super">Укажите свои учетные данные</span>
                    </h1>
                  </header>

<!-- начало формы  -->  
    
        <div class="ui fluid error form segment">

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="ui error message">
            <div class="header">Ошибка!</div>
            <p>Введите корректные электронную почту и пароль.</p>
        </div>
        {% endfor %}
        {% endif %}

        {% if form.errors and not form.non_field_errors %}
        <div class="ui error message">
            <div class="header">Error!</div>
            <p>Что-то пошло не так...</p>
        </div>
        {% endif %}

        <form method="post" action="login/">
            {% csrf_token %}

            <div class="cont-input">
                <label>{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>

            <div class="cont-input">
                <label>{{ form.password.label_tag }}</label>
                {{ form.password }}
            </div>
            <div class="cont-input cont-btn">
                <input class="button_create" type="submit" value="Войти"/>
            </div>
            <input type="hidden" name="next" value="/" />
        </form>
    </div>
<!-- конец формы-->

    </div>
    <div class="col">
        <aside role="complementary">
            <style>
            .smaller {
              font-size:80%;
            }
            .gray {
              color: #333;
            }

            .smaller-header {
              font-size: 20px;
            }
            .justify {
              text-align: justify;
              text-indent: 20px;
            }
            </style>
        <div class="smaller">
            <header>
                <h3 class="sr gray">Помощь в входе</h3>
            </header>
            <div class="cta cta-welcome">
                <h3 class="gray smaller-header"></h3>
                <p class="justify">
                     Укажите свои данные, которые были использованные при резистрациию. Если вы не можете вспомнить свой пароль, то для востановления его перейдите по даннлй <a href="/user/password/reset/" >ссылке</a>
                </p>
            </div>




</div>

  </aside>
                                  
    </div>
  </div>
</div> <!-- /for-footer -->
</div>
{% endblock %}
