{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="for-footer">
    <div class="main-title">
        <h1><span class="in"><span>{% trans 'Смена пароля' %}</span></span></h1>
    </div>
    <div class="section breadcrumbs">
        <div class="row">
            <div class="col3">
                <span class="breadcrumbs-item">
                    <a href="http://notv.urfu.ru/ru">{% trans 'Главная страница' %}</a>
                </span>
                <span class="divide">/</span>
                <span class="breadcrumbs-item">
                    <a href="/account/">{% trans 'Личный кабинет' %}</a>
                </span>
                <span class="divide">/</span>
                <span class="breadcrumbs-item">
                    <a href="" class="no-underline"><span>{% trans 'Смена пароля' %}</span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="section content">
        <div class="row">
            <div class="col2 lea_alex">
                <header>
                    <h1 class="title">
                      <span class="title-super">{% trans 'Смена пароля' %}</span>
                    </h1>
                  </header>


<form method="post">{% csrf_token %}
<div>



<div class="cont-input">
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }} {{ form.old_password }}
</div>

<div class="cont-input">
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {% if form.new_password1.help_text %}
    <p class="help">{{ form.new_password1.help_text|safe }}</p>
    {% endif %}
</div>

<div class="cont-input">
{{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    <p class="help">{{ form.new_password2.help_text|safe }}</p>
    {% endif %}
</div>



            <div class="cont-input cont-btn">
                <input class="button_create" type="submit" value="{% trans 'Сменить пароль' %}"/>
            </div>
        </form>
    </div>
<!-- конец формы-->

    </div>
    <div class="col">
        <aside role="complementary">
            <style>
            .smaller {
              font-size:80%;
            }
            .gray {
              color: #333;
            }

            .smaller-header {
              font-size: 20px;
            }
            .justify {
              text-align: justify;
              text-indent: 20px;
            }
            .cont-input label {
                width: 250px !important;
                }
            </style>
  </aside>

    </div>
  </div>
</div> <!-- /for-footer -->
</div>
{% endblock %}
