{% extends "base.html" %}
{% load i18n %}

 
{% block content %}

<div class="for-footer">
    <div class="main-title">
        <h1><span class="in"><span>Восстановить пароль</span></span></h1>
    </div>
    <div class="section breadcrumbs">
        <div class="row">
            <div class="col3">
                <span class="breadcrumbs-item">
                    <a href="http://notv.urfu.ru/ru">Главная страница</a>
                </span>
                <span class="divide">/</span>
                <span class="breadcrumbs-item">
                    <a href="" class="no-underline"><span>Восстановить пароль</span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="section content">
        <div class="row">
            <div class="col2 lea_alex">
                <header>
                    <h1 class="title">
                      <span class="title-super">Укажите email</span>
                    </h1>
                  </header>

<!-- начало формы  --> 

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
{{ form.email.errors }}
<div class="cont-input">
<label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} 
</div>

<div class="cont-input cont-btn">
<input class="button_create" type="submit" value="{% trans 'Reset my password' %}" /></p>
</div>
</form>

{% endblock %}
